body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

#admin-panel {
  width: 80%;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
}

input, select, button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007bff;
  color: white;
}

span {
  font-size: 20px;
}
